@{
    ViewBag.Title = "CancelOnlinePayment";
    Layout = "~/Views/Shared/_LayoutLoginDiary.cshtml";
}

@*<div style="min-height:275px;">

    <h4>Payment Cancel</h4>
    <p>Your Payment is Cancel</p>
    <label class="lead text-center text-success"> <strong>Your Payment has been cancel </strong></label>*@


    <div id="loginformblock">
        <div class="card loginformRegistrn">
            <div class="my-5 text-center" style="min-height:320px;">              
                <label class="lead text-center text-success"> <strong>Payment Cancel</strong></label>
                <p>Your Payment has been canceled.</p>
            </div>
        </div>
    </div>

@*</div>*@

