
@{
    ViewBag.Title = "ShowRevokeeCSIN";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
    DateTime dt = DateTime.Now;
}



@*<label>@ViewBag.Message on @dt.ToString("dd/MM/yyyy hh:mm:ss")</label>*@

<div class="m-2 mx-3">
    <p class="p-1 text-center" style="background:#ccc;">Cessation</p>
</div>

<div id="loginformblock">
    <div class="card loginformRegistrn">
        <div class="my-5 text-center" style="min-height:185px;">
            <label class="lead text-center text-success"> <strong> @ViewBag.Message on @dt.ToString("dd/MM/yyyy hh:mm:ss") </strong></label>
        </div>
</div>
</div>