<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
	</startup>
	<appSettings>
		<!--Email Service-->
		<!--
		<add key="host" value="192.168.2.29" />
		<add key="port" value="25" />
		<add key="username" value="donotreply@icsi.edu" />
		<add key="password" value="password@123" />
		-->
		<!--End-->

		<!--Email Service-->
		<add key="host" value="smtp.office365.com" />
		<add key="port" value="587" />
		<add key="username" value="donotreply6@icsi.edu" />
		<add key="password" value="password@123" />
		<!--End-->

		<add key="EnableDebug" value="False" />
	</appSettings>
	<connectionStrings>
		<!--<add name="training" connectionString="data source=192.168.2.128;initial catalog=ICSI_PROD_TRAINING;Persist Security Info=True;User ID=sa;Password=happy@123;" providerName="System.Data.SqlClient" />-->
		<add name="PCS" connectionString="data source=192.168.1.6;initial catalog=icsisoft;Persist Security Info=True;User ID=cmcites;Password=itescmc;" providerName="System.Data.SqlClient" />

		<add name="InterimSol" connectionString="data source=192.168.2.128;initial catalog=ICSI_PROD_MEM_TEMP;Persist Security Info=True;User ID=sa;Password=happy@123;" providerName="System.Data.SqlClient" />
		<!--<add name="PCS" connectionString="data source=192.168.2.128;initial catalog=icsisoft;Persist Security Info=True;User ID=sa;Password=happy@123;" providerName="System.Data.SqlClient" />-->

		<add name="CSR" connectionString="data source=192.168.2.128;initial catalog=ICSI_PROD_CSR;Persist Security Info=True;User ID=sa;Password=happy@123;" providerName="System.Data.SqlClient" />
		<add name="CGA" connectionString="data source=192.168.2.123;initial catalog=ICSI_PROD_CGA;Persist Security Info=True;User ID=sa;Password=happy@123;" providerName="System.Data.SqlClient" />
    <add name="SAR" connectionString="data source=192.168.2.123;initial catalog=ICSI_PROD_SAR;Persist Security Info=True;User ID=sa;Password=happy@123;" providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>