<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    <div class="contain-all">
        <div class="container form-field">
            <div clas="row">
                <div class="col-xs-12 mt-30 text-center">
                    <h1 class="text-primary" style="font-size:400%;"><strong>ERROR 404!</strong></h1>
                    <h2 class="text-primary"><strong>PAGE NOT FOUND</strong></h2>
                    <h4>The link you clicked may be broken or the page may have been removed.</h4>
                    <p class="mt-30">Vist the <a href="~/home/login"> <strong> Homepage </strong> </a> OR <a href="https://www.icsi.edu/ContactUs.aspx"> <strong> Contact Us </strong> </a> about the problem. </p>
                </div>
            </div>
        </div>
    </div><!-- /.container -->
</body>
</html>
