@{
    ViewBag.Title = "NewPassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<div align="center" class="form-control formblock">
    <label class="text-success">@ViewBag.msg</label>


</div>*@



<div class="my-5 text-center" style="min-height:185px;">
    <label class="lead text-center text-success"> <strong>  @ViewBag.msg</strong></label>
</div>