
@{
    ViewBag.Title = "ShowRevokeUDIN";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
    DateTime dt = DateTime.Now;
}



@*<label>@ViewBag.Message on @dt.ToString("dd/MM/yyyy hh:mm:ss")</label>*@


<div class="my-5 text-center" style="min-height:250px;">
    <label class="lead text-center text-success"> <strong>  @ViewBag.Message on @dt.ToString("dd/MM/yyyy hh:mm:ss"). </strong></label>
</div>


